//variables
@import url('https://fonts.googleapis.com/css2?family=Bungee+Spice&family=Nabla&family=Poppins:wght@100&display=swap');

$color: midnightblue;
$color-txt: yellow;
$color-a: violet;
$color-card: rgb(32, 1, 145);
$color-footer: rgb(1, 1, 71);
$font-body: 'Poppins', sans-serif;
$font-banner: 'Nabla', sans-serif;
$font-banner-mv: 'Bungee Spice', sans-serif;
$font-size-base: 18px;
$font-size-large: 18px;
$font-size-small: 16px;
$imagen-banner: url('../img/wallpaperflare-cropped.jpg');


